<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css'>
    <!-- <link rel='stylesheet' href='style.css'> -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js'></script> -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks.main.css) { %>
      <link
        rel="stylesheet"
        href="<%= htmlWebpackPlugin.options.buildPath %><%= htmlWebpackPlugin.files.chunks.main.css[chunk]%><%= htmlWebpackPlugin.options.gzip %>"
        media="all"
      />
    <% } %>
  </head>
  <body>
    <div id='container'/>
    <script src='bundle.js'></script>
  </body>
</html>
